<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body style='background-image: url(https://media.discordapp.net/attachments/868227772034715678/994800501726134382/chacla_1.png?width=742&height=472) ; height: auto; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative'>

        <div style=' margin-top: 1%; width: 550px; height: auto ;background: white; border-radius: 35px' class="container mt-100 p-5">
            <div class="container">
                <div class="row">
                    <div style='margin-top: -8%; margin-left: 33%' class="col-12">
                        <img style='width: 30%;' src="https://media.discordapp.net/attachments/867892941254688838/993550359454830664/unknown.png" alt=""> </img>        
                    </div>
                    <label for="exampleFormControlInput1" style=' text-align: center; text-decoration: underline' class="form-label">𝗖𝗥𝗘𝗔 𝗧𝗨 𝗖𝗨𝗘𝗡𝗧𝗔</label>
                </div>
            </div>

            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-6">
                    <label for="validationCustom01" class="form-label">Nombre(s)<span class="text-danger"> *</span></label>
                    <div class="valid-feedback">
                        ¡ok!
                    </div>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="validationCustom01" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Por favor, poner su(s) nombre(s)
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom010" class="form-label">Apellido paterno<span class="text-danger"> *</span></label>
                    <div class="valid-feedback">
                        ¡ok!
                    </div>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="validationCustom010" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Por favor, poner su apellido
                        </div>
                    </div>
                </div>
                <div style='margin-top: 10px' class="col-md-6">
                    <label for="validationCustom9" class="form-label">Apellido materno<span class="text-danger"> *</span></label>
                    <div class="valid-feedback">
                        ¡ok!
                    </div>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="validationCustom9" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Por favor, poner su apellido
                        </div>
                    </div>
                </div>
                <div style='margin-top: 10px' class="col-md-6">
                    <label for="validationCustomUsername" class="form-label">DNI<span class="text-danger"> *</span></label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Por favor, poner su DNI
                        </div>
                    </div>
                </div>
                <div style='margin-top: 10px' class="col-md-6">
                    <label for="validationCustom9" class="form-label">Correo electrónico<span class="text-danger"> *</span></label>
                    <div class="valid-feedback">
                        ¡ok!
                    </div>
                    <div class="input-group has-validation">
                        <input type="email" class="form-control" id="validationCustom9" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Por favor, poner su correo
                        </div>
                    </div>
                </div>
                <div style='margin-top: 10px' class="col-md-6">
                    <label for="validationCustom03" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="validationCustom03" > 
                </div>
                <div style='margin-top: 10px' class="col-md-6">
                    <label for="validationCustom7" class="form-label">Fecha de nacimiento<span class="text-danger"> *</span></label>
                    <div class="valid-feedback">
                        ¡ok!
                    </div>
                    <div class="input-group has-validation">
                        <input type="date" class="form-control" id="validationCustom7" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Por favor, poner su fecha de nacimiento
                        </div>
                    </div>
                </div>
                <div style='margin-top: 10px' class="col-md-6">
                    <label for="validationCustom9" class="form-label">Contraseña<span class="text-danger"> *</span></label>
                    <div class="valid-feedback">
                        ¡ok!
                    </div>
                    <div class="input-group has-validation">
                        <input type="password" class="form-control" id="validationCustom9" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Por favor, poner su contraseña
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Acepto todos los términos y condiciones
                        </label>
                        <div class="invalid-feedback">
                            Debe estar de acuerdo antes de enviar su resgitro
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button data-bs-whatever="@mdo" style='background: #24C92E; border-radius: 15px; border-color: #24C92E; width: 170px; margin-left:142px; margin-top: -10px' class="btn btn-primary" type="submit">Registrarme</button>
                </div>
            </form>


            <div class="d-grid gap-2">                    
                <div style='margin-left: 50px' class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" >
                        <div class="modal-content mb-2 " style="width: 24rem; height: 15rem;border-radius: 15px; " >
                            <div class="d-flex p-3 justify-content-end mt-2"></div>
                            <h1 style="font-size: 1.5rem;text-align: center; color: #24C92E; margin-top: 1px">CUENTA CREADA CON ÉXITO</h1>
                            <hr class="mx-auto" style="width: 20rem">
                            <div class="" style="width: 20rem">
                                <h6 style="text-align: center; margin-left: 70px">Inicie sesión para ingresar a la plataforma</h6>
                                <a th:href="@{/}" type="submit" class="btn btn-primary mt-3" style="width:10rem;margin-left: 7rem;background-color: #24C92E;border-radius: 15px;border-color: #DDFF00;font-weight: 600">aceptar</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
            })()
        </script>

        <script th:src="@{/js/bootstrap.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
