<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body >

        <div class="container-fluid" layout:fragment="page-content" >
            <div style=' margin-left: -20px; opacity: 80% ; width: 120%; height: 80px; background: yellow; background-position: center; position: relative'></div>
            <h1 class='position-absolute top-0 start-50 translate-middle text-success' style='text-align: center; height: auto; width: 1350px; font-size: 35px; margin-top: 40px'>SOLICITUDES PENDIENTES</h1>
            <div class=" position-absolute opacity-50" style='margin-left: 140px; width: 78%; height: 960px; background: black; background-position: center'>
            </div>
            <div class="opacity-100 conteiner mt-100 p-5 position-relative">
                <table style='margin-left: 130px;width: 80%;margin-top: 30px' class="table table-success table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID_SOLICITUD</th>
                            <th scope="col">ID_USUARIO</th>
                            <th scope="col">VERIFICACIÓN</th>
                            <th scope="col">INFORME TÉCNICO</th>
                            <th scope="col">RESOLUCIÓN DE RECONOCIMIENTO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>3 
                                <button style="height: 29px;margin-left: 10px; background: #24C92E" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><h6 style="font-size:11px" class="text-white">VER DATOS</h6>
                                </button>

                                <div style="margin-top: 200px" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="table table-success table-bordered table-striped modal-dialog">

                                        <div class=" modal-content">

                                            <div class="" >
                                                <div class=" modal-header" >
                                                    <div class="container" >
                                                        <div class="row" style="margin-top: 10px;height: 13px">
                                                            <div class="col" >
                                                                <h6 class="text-dark">NOMBRES Y APELLIDOS </h6>
                                                            </div>
                                                            <div class="col">
                                                                <h6 class="text-dark"> Juanito Pèrez :v</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" modal-body" >---------------------------------------------------------------------------</div>
                                                <div class="modal-footer">
                                                    <div class="container">
                                                        <div class="row" style="margin-top: -8px; height: 28px">
                                                            <div class="col">
                                                                <h6 class="text-dark">CORREO ELECTRÓNICO</h6>
                                                            </div>
                                                            <div class="col">
                                                                <h6 class="text-dark">Elsinpipis@gmail.com</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>      
                                    </div>
                                </div>
                                </div>
                            </td>

                            <td>SI</td>
                            <td>
                                <div class="container">
                                    <div class="">
                                        <i style="margin-left: 50px; margin-top: 5px; font-size: 25px" type="button" class="fa-solid fa-eye"></i>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container">
                                    <div class="">
                                        <i style="margin-left: 70px; margin-top: 5px; font-size: 25px" type="button" class="fa-solid fa-eye"></i>
                                        <i style="margin-left: 70px; margin-top: 5px; font-size: 25px" type="button" class="fa-solid fa-file-arrow-up"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Thornton</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Thornton</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Thornton</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Thornton</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Thornton</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                
                <form th:action="@{/auth/main_os}" >

                    <div class="d-grid gap-2">                    
                        <input style='background: #24C92E; width: 220px; margin-left:195px; margin-top: 15px' type="submit" value="Organizaciones sociales" class="btn btn-success">
                    </div>
                </form>
                
                <button style="margin-top: -70px;margin-left: 920px; background: #24C92E" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#correo" data-bs-whatever="@getbootstrap">Generar correo</button>

                <div class="modal fade" id="correo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class=" bg-success modal-header">
                                <h5 class="modal-title text-white" id="exampleModalLabel">GENERAR CORREO</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">PARA:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="col-form-label">MENSAJE:</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="file" class="form-control" id="inputGroupFile02">
                                        <label for="inputGroupFile02"></label>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#awa">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 170px" class="modal fade" id="awa" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>CORREO ENVIADO EXITOSAMENTE</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div> 







        </div>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>
    </body>
</html>
