<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body >
        <div layout:fragment="page-content" >
            <h1 class='position-absolute text-success' style='margin-left: 320px; font-size: 35px; margin-top: 20px'>SOLICITUDES PENDIENTES</h1>
            <div class="opacity-100 conteiner mt-100 p-5 position-relative">
                <table style='width: 100%;margin-top: 50px' class="table table-success table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID_SOLICITUD</th>
                            <th scope="col">ID_USUARIO</th>
                            <th scope="col">VERIFICACIÓN</th>
                            <th scope="col">INFORME TÉCNICO</th>
                            <th scope="col">RESOLUCIÓN DE RECONOCIMIENTO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>3 
                                <button style="height: 29px;margin-left: 10px; background: #24C92E" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><h6 style="font-size:11px" class="text-white">VER DATOS</h6>
                                </button>

                                <div style="margin-top: 200px" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="table table-success table-bordered table-striped modal-dialog">

                                        <div class=" modal-content">

                                            <div class="" >
                                                <div class=" modal-header" >
                                                    <div class="container" >
                                                        <div class="row" style="margin-top: 10px;height: 13px">
                                                            <div class="col" >
                                                                <h6 class="text-dark">NOMBRES Y APELLIDOS </h6>
                                                            </div>
                                                            <div class="col">
                                                                <h6 class="text-dark"> Juanito Pèrez :v</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" modal-body" >---------------------------------------------------------------------------</div>
                                                <div class="modal-footer">
                                                    <div class="container">
                                                        <div class="row" style="margin-top: -8px; height: 28px">
                                                            <div class="col">
                                                                <h6 class="text-dark">CORREO ELECTRÓNICO</h6>
                                                            </div>
                                                            <div class="col">
                                                                <h6 class="text-dark">Elsinpipis@gmail.com</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>      
                                    </div>
                                </div>
                                </div>
                            </td>

                            <td>SI</td>
                            <td>
                                <div class="container">
                                    <div class="">
                                        <i style="margin-left: 50px; margin-top: 5px; font-size: 25px" type="button" class="fa-solid fa-eye"></i>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="container">
                                    <div class="">
                                        <i style="margin-left: 70px; margin-top: 5px; font-size: 25px" type="button" class="fa-solid fa-eye"></i>
                                        <i style="margin-left: 70px; margin-top: 5px; font-size: 25px" type="button" class="fa-solid fa-file-arrow-up"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Thornton</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Thornton</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Thornton</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Thornton</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Thornton</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
               <button style=" width:100px;margin-left: 430px; background: #24C92E" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#correo" data-bs-whatever="@getbootstrap"><i style="font-size: 40px" class="fa-solid fa-envelope"></i></button>

                <div style="margin-top: 40px; margin-left: 30px" class="modal fade" id="correo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class=" bg-success modal-header">
                                <h5 class="modal-title text-white" id="exampleModalLabel">GENERAR CORREO</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">PARA:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="col-form-label">MENSAJE:</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>
    </body>
</html>
