<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body >

        <div class="container-fluid" layout:fragment="page-content" >
             <h1 class='position-absolute text-success' style='margin-left: 290px; font-size: 35px; margin-top: 20px'>ORGANIZACIONES SOCIALES</h1>
            
             <div class="opacity-100 conteiner mt-100 p-5 position-relative">
                
                <form th:action="@{/auth/main_os/agregar_os}" >
                    <div class="d-grid gap-2">                    
                        <input style='background: #24C92E; width: 180px; margin-left:380px; margin-top: 50px' type="submit" value="Agregar" class="btn btn-success">
                    </div>
                </form>
                
                <table style='margin-left: -40px;width: 110%;margin-top: 30px' class="table table-success table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID_O.S</th>
                            <th scope="col" style="width: 130px">NOMBRE</th>
                            <th scope="col">TIPO</th>
                            <th scope="col">DENOMINACIÓN</th>
                            <th scope="col">REPRESENTANTE</th>
                            <th scope="col">UBICACIÓN</th>
                            <th scope="col">CANT. DE MIEMBROS</th>
                            <th scope="col">INICIO DE VIGENCIA</th>
                            <th scope="col">FIN DE VIGENCIA</th>
                            <th scope="col" style="width: 130px">OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Chaclacayo a la historia</td>

                            <td>Temática</td>
                            <td>Cultural</td>
                            <td>Larry Carmesí Pérez Ortoñez</td>
                            <td> Avenida Grau-Mz B Lt 40</td>
                             <td>220</td>
                              <td>20/10/2018</td>
                               <td>20/10/2023</td>
                            <td>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <form th:action="@{/auth/main_os/editar_os}">
                                                <button style="font-size: 6px; background: transparent; border-color: transparent; margin-top: 1px; margin-left: -28px" class="">
                                                    <i style="font-size: 30px"  class="fa-solid fa-file-pen"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="col-6">
                                            <button style="font-size: 6px;background: transparent; border-color: transparent; margin-left: -15px; margin-top: -1px" class="" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                                                <i style="font-size: 33px" type="button"class="fa-solid fa-delete-left"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 150px" class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div  class=" modal-dialog">
                                        <div class=" modal-content">
                                            <div class="modal-header bg-success">
                                                <h5 class="modal-title text-white" id="staticBackdropLabel">ELIMINACIÓN DE ORGANIZACIÓN SOCIAL</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h4 class="text-success">¿Está seguro de eliminar esta organiación social?</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Si, estoy seguro</button> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Otto</td>
                            <td>Thornton</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>@twitter</td>
                            <td>Thornton</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Otto</td>
                            <td>Thornton</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>@twitter</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>Thornton</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>

            </div> 

        </div>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>

    </body>
</html>
