<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>Proyecto Integrador</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/estilos.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>

        <div layout:fragment="page-content" >
            
            <div style=' height: 38rem; width: 71.65rem ;margin-left: -24px; background-size: cover; overflow: hidden'>
                <div class="conteiner text-dark " style=" margin-top: 110px">
                    <h3 style="text-align: center; font-family: inherit">Bienvenido a</h3>
                    <h1 type="button"  style="font-size: 140px; text-align: center; color: limegreen">ROSUC</h1>
                    <h1 style="text-align: center; font-family: inherit"><span style="color: limegreen ">R</span>egistro de <span style="color: limegreen ">O</span>rganizaciones <span style="color: limegreen ">S</span>ociales</h1>
                    <h1 style="text-align: center; font-family: inherit">para <span style="color: limegreen ">U</span>nir <span style="color: limegreen ">C</span>haclacayo</h1>
                </div>
            </div>
        </div>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>

    </body>
</html>
