<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head th:replace="layout/layout :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div  style='background-image: url(https://media.discordapp.net/attachments/868227772034715678/994800501726134382/chacla_1.png?width=742&height=472) ; height: 50rem; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; overflow: hidden' class="container-fluid" layout:fragment="page-content">  
            <h1>Soy Main</h1>
        </div>
    </body>
</html>
