<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/82a228b425.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" th:href="@{/assets/favicon.ico}" />
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container-relative">
            <nav style="height: 120px;background: white" class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    <div class="container">
                        <div class="row row-cols-6">
                            <div class="col-1">
                                <a href="http://www.munichaclacayo.gob.pe/portals/"><img style='margin-left: -90px; width: 180%;' src="https://media.discordapp.net/attachments/867892941254688838/993550359454830664/unknown.png" alt=""> </img></a>
                            </div>
                            <div class="col-3">
                                <img style='margin-top: -10px;position: absolute;width: 270px;' src="https://media.discordapp.net/attachments/867892972111265833/995126455816175696/unknown.png" alt=""> </img>
                            </div>
                            <div class="col-4">
                                <img style='width: 270px; margin-left: 42px;margin-top: -5px;position: absolute' src="https://media.discordapp.net/attachments/867892972111265833/995126458886402128/unknown.png" alt=""> </img>
                                <h5 style="text-align: center; font-family: var; margin-top:75px">Registro de Organizaciones Sociales</h5>
                                <h5 style="text-align: center; font-family: var; margin-top:-10px">para Unir Chaclacayo</h5>

                            </div>
                            <div class="col-3">
                                <img style='margin-top: -10px;position: absolute;width: 275px;' src="https://media.discordapp.net/attachments/867892972111265833/995126458676678716/unknown.png" alt=""> </img>
                            </div>
                            <div class="col-1"><ul class="navbar-nav mb-2 mb-lg-0">
                                    <li class="nav-item dropdown">
                                        <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img style='margin-top: 30px; margin-left:60px;position: absolute;width: 70px;' src="https://media.discordapp.net/attachments/867892972111265833/995126459674927114/unknown.png" alt=""> </img>
                                        </a>
                                        <ul style="margin-top: 15px;margin-left: 7px" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="text-success dropdown-item" th:href="@{/auth/main_ds/perfil_ds}">Ver perfil</a></li>
                                            <li><hr class="dropdown-divider"></li>

                                            <li><form th:action="@{/logout}" method="post">
                                                    <input type="submit" class="btn btn-success" value="Cerrar sesion" /></span>
                                                </form>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>

            <div style='height: auto;background-image: url(https://media.discordapp.net/attachments/892877408498229260/995141687892529242/Chaclacayo-Lima-10.jpg?width=720&height=473) ; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative; overflow: hidden' class="container-fluid" layout:fragment="page-content">

            </div>

        </div>


        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
